{% load crispy_forms_tags %}

<!doctype html>
<html>
<head>
  {% load static %}

<title>Home-PrimaryHealthCareCenter </title>

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">

<style>
  .table{
    width:50%;    
  }
  h1{
    margin-left: 30%;
    padding-top: 20px;
  }


</style>





</head>
<body>


<header >
    <div>
        <img src="{% static 'img/Tamil.png' %}" alt="Emplem" class="float-left header-img">

        <h1>Primary Health Care Centers</h1>
        <img src="" alt="" class="float-right header-img">
    </div>
    <nav class="navbar navbar-expand-lg navigation float-bottom">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-item nav-link " href="/phc_admin">Home <span class="sr-only">(current)</span></a>
          
          <a class="nav-item nav-link " href="/add_phc">Add PHC</a>
          <a class="nav-item nav-link active" href="/add_doctor">Add Doctor</a>
          <a class="nav-item nav-link " href="/add_designation/">Add Designation</a>
          


        </div>
      </div>
      <a class="btn btn-info float-right"  href="/login/"><b>Log Out</b></a>
    </nav>
</header>

<div class="container">
<form method="post">
  {% csrf_token %}
{{form|crispy}}

  <button type="submit" class="btn btn-primary">submit</button>
</form>

</div>


<br><br>


<footer class="page-footer">
<small>&copy; Copyright 2023 .All Rights Reserved</small> 
</footer>

</body>
</html>